<div class="modal fade" id="addPostnaEnotaModal" tabindex="-1" role="dialog" aria-labelledby="addPostnaEnotaModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addPostnaEnotaModalLabel">Dodaj poštno enoto</h4>
        </div>
        <form [formGroup]="myForm">
          <div class="modal-body">
  
                <div class="form-group text-left">
                  <label for="naziv">Naziv poštne enote</label>
                    <input formControlName="naziv" type="text" class="form-control">  
                </div>
                
                <div class="form-group text-left">
                  <label for="kraj">Kraj</label>
                    <input formControlName="kraj" type="text" class="form-control">  
                </div>

                <div class="form-group text-left">
                  <label for="postnaSt">Poštna številka</label>
                    <input formControlName="postnaSt" type="number" class="form-control">  
                </div>

                <div class="form-group text-left">
                  <label for="ulica">Ulica</label>
                    <input formControlName="ulica" type="text" class="form-control">  
                </div>

                <div class="form-group text-left">
                  <label for="hisnaSt">Hišna številka</label>
                    <input formControlName="hisnaSt" type="text" class="form-control">  
                </div>
              
                <div class="form-group text-left">
                  <label for="hranjenjePosiljke">Število dni hranitve do vrnitve prodajalcu</label>
                    <input formControlName="hranjenjePosiljke" type="number" class="form-control">
                </div>

                <div class="form-group text-left">
                  <label for="postarji">Poštarji</label>
                    <input formControlName="postarji" type="text" class="form-control">
                </div>
              
              
          </div>
          <div class="modal-footer">
            <button (click)="addPostnaEnota(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Potrdi</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="updatePostnaEnotaModal" tabindex="-1" role="dialog" aria-labelledby="updatePostnaEnotaModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="updatePostnaEnotaModalLabel">Posodobi</h4>
        </div>
        <form [formGroup]="myForm">
          <div class="modal-body">
            
              <div class="form-group text-left">
                <label for="kraj">Kraj</label>
                  <input [ngModel]="kraj"formControlName="kraj" type="text" class="form-control">
              </div>

              <div class="form-group text-left">
                <label for="postnaSt">Poštna številka</label>
                  <input [ngModel]="postnaSt"formControlName="postnaSt" type="number" class="form-control">
              </div>

              <div class="form-group text-left">
                <label for="ulica">Ulica</label>
                  <input [ngModel]="ulica"formControlName="ulica" type="text" class="form-control">
              </div>

              <div class="form-group text-left">
                <label for="hisnaSt">Hišna številka</label>
                  <input [ngModel]="hisnaSt"formControlName="hisnaSt" type="text" class="form-control">
              </div>
                        
              <div class="form-group text-left">
                <label for="hranjenjePosiljke">Število dni hranitve do vrnitve prodajalcu</label>
                  <input [ngModel]="hranjenjePosiljke"formControlName="hranjenjePosiljke" type="number" class="form-control">
              </div>
            
              <div class="form-group text-left">
                <label for="postarji">Poštarji</label>
                  <input [ngModel]="postarji"formControlName="postarji" type="text" class="form-control">
             </div>
            
          </div>
          <div class="modal-footer">
            <button (click)="updatePostnaEnota(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Potrdi</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="deletePostnaEnotaModal" tabindex="-1" role="dialog" aria-labelledby="deletePostnaEnotaModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="deletePostnaEnotaModalLabel">Izbriši</h4>
        </div>
        <form [formGroup]="myForm" (ngSubmit)="deletePostnaEnota()">
          <div class="modal-body">
            Res zelite izbrisati poštno enoto?
          </div>
          <div class="modal-footer">
            <button (click)="deletePostnaEnota()" type="submit" class="btn btn-danger" data-dismiss="modal">Da</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Ne</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="container">
      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
          <strong>Error:</strong> {{errorMessage}}
      </div>
    <h1 id='assetName'>Postna enota</h1>
    <div class="row">
      <div class="col-md-12 text-right">
        <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPostnaEnotaModal">Dodaj poštno enoto</button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-responsive table-striped">
          <thead class="thead">
            <tr class="thead-cols">
                  
                  <th class="info">Naziv</th>
              
                  <th class="info">Kraj</th>

                  <th class="info">Poštna številka</th>

                  <th class="info">Ulica</th>

                  <th class="info">Hišna številka</th>
              
                  <th class="info">Število dni hranitve do vrnitve prodajalcu</th>

                  <th class="info">Poštarji</th>
                                          
                <th class="info">Možnosti</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let postnaEnota of allPostnaEnota">
  
                            
                  <td>{{postnaEnota.naziv}}</td>
              
                  <td>{{postnaEnota.kraj}}</td>

                  <td>{{postnaEnota.postnaSt}}</td>

                  <td>{{postnaEnota.ulica}}</td>

                  <td>{{postnaEnota.hisnaSt}}</td>
              
                  <td>{{postnaEnota.hranjenjePosiljke}}</td>

                  <td>{{postnaEnota.postarji}}</td>
                                          
              <td>
                <button (click)="getForm(postnaEnota.naziv);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updatePostnaEnotaModal">Posodobi</button>
  
                <button (click)="setId(postnaEnota.naziv);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletePostnaEnotaModal">Izbriši</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  