<div class="modal fade" id="addParticipantModal" tabindex="-1" role="dialog" aria-labelledby="addParticipantModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addParticipantModalLabel">Dodaj kupca</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">

            <div class="form-group text-left">
                <label for="kupecID">ID kupca</label>

                  <input formControlName="kupecID" type="text" class="form-control">

              </div>

              <div class="form-group text-left">
                <label for="ime">Ime</label>

                  <input formControlName="ime" type="text" class="form-control">

              </div>

              <div class="form-group text-left">
                <label for="priimek">Priimek</label>

                  <input formControlName="priimek" type="text" class="form-control">

              </div>


                <div class="form-group text-left">
                  <label for="email">Email</label>

                    <input formControlName="email" type="text" class="form-control">

                </div>

                <div class="form-group text-left">
                    <label for="kraj">Kraj</label>

                    <input formControlName="kraj" type="text" class="form-control">

                  </div>

                  <div class="form-group text-left">
                    <label for="postnaSt">Postna st.</label>

                    <input formControlName="postnaSt" type="number" step='any' class="form-control">

                  </div>

                  <div class="form-group text-left">
                    <label for="ulica">Ulica</label>

                    <input formControlName="ulica" type="text" class="form-control">

                  </div>

                  <div class="form-group text-left">
                    <label for="hisnaSt">Hisna st.</label>

                    <input formControlName="hisnaSt" type="number" step='any' class="form-control">

                  </div>

                <div class="form-group text-left">
                  <label for="stanje">Stanje</label>

                    <input formControlName="stanje" type="number" step='any' class="form-control">

                </div>

                <div class="form-group text-left">
                  <label for="banka">Banka</label>

                  <input formControlName="banka" type="text" class="form-control">

                </div>

              </div>
              <div class="modal-footer">
                <button (click)="addParticipant(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Potrdi</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="modal fade" id="updateParticipantModal" tabindex="-1" role="dialog" aria-labelledby="updateParticipantModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="updateParticipantModalLabel">Posodobi</h4>
            </div>
            <form [formGroup]="myForm">
              <div class="modal-body">

              <div class="form-group text-left">
                  <label for="kupecID">ID kupca</label>

                    <input [ngModel]="kupecID" formControlName="kupecID" type="text" class="form-control">

                </div>

                <div class="form-group text-left">
                    <label for="ime">Ime</label>

                      <input [ngModel]="ime" formControlName="ime" type="text" class="form-control">

                  </div>

                  <div class="form-group text-left">
                      <label for="priimek">Priimek</label>

                        <input [ngModel]="priimek" formControlName="priimek" type="text" class="form-control">

                    </div>

            <div class="form-group text-left">
              <label for="email">Email</label>

                <input [ngModel]="email" formControlName="email" type="text" class="form-control">

            </div>


            <div class="form-group text-left">
              <label for="kraj">Kraj</label>

              <input [ngModel]="kraj" formControlName="kraj" type="text" class="form-control">

            </div>

            <div class="form-group text-left">
                <label for="postnaSt">Postna St.</label>

                <input [ngModel]="postnaSt" formControlName="postnaSt" type="number" step='any' class="form-control">

              </div>

              <div class="form-group text-left">
                  <label for="ulica">Ulica</label>

                  <input [ngModel]="ulica" formControlName="ulica" type="text" class="form-control">

                </div>

                <div class="form-group text-left">
                    <label for="hisnaSt">Hisna St.</label>

                    <input [ngModel]="hisnaSt" formControlName="hisnaSt" type="number" step='any' class="form-control">

                  </div>

            <div class="form-group text-left">
              <label for="stanje">Stanje</label>

                <input [ngModel]="stanje" formControlName="stanje" type="number" step='any' class="form-control">

            </div>

            <div class="form-group text-left">
              <label for="banka">Banka</label>

              <input [ngModel]="banka" formControlName="banka" type="text" class="form-control">

            </div>

          </div>
          <div class="modal-footer">
            <button (click)="updateParticipant(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Potrdi</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteParticipantModal" tabindex="-1" role="dialog" aria-labelledby="deleteParticipantModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="deleteParticipantModalLabel">Zbrisi kupca</h4>
        </div>
        <form [formGroup]="myForm" (ngSubmit)="deleteParticipant()">
          <div class="modal-body">
            Ali res zelite zbrisati kupca?
          </div>
          <div class="modal-footer">
            <button (click)="deleteParticipant()" type="submit" class="btn btn-danger" data-dismiss="modal">Da</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Ne</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
          <strong>Napaka:</strong> {{errorMessage}}
      </div>
      <h1 id='assetName'>Kupci</h1>
      <div class="row">
        <div class="col-md-12 text-right">
          <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addParticipantModal">Dodaj kupca</button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered table-responsive table-striped">
            <thead class="thead">
              <tr class="thead-cols">

                    <th class="info">kupecID</th>

                    <th class="info">ime</th>

                    <th class="info">priimek</th>

                    <th class="info">email</th>

                    <th class="info">kraj</th>

                    <th class="info">postnaSt</th>

                    <th class="info">ulica</th>

                    <th class="info">hisnaSt</th>

                    <th class="info">stanje</th>

                    <th class="info">banka</th>

                  <th class="info">možnosti</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let participant of allParticipants">


                    <td>{{participant.kupecID}}</td>

                    <td>{{participant.ime}}</td>

                    <td>{{participant.priimek}}</td>

                    <td>{{participant.email}}</td>

                    <td>{{participant.kraj}}</td>

                    <td>{{participant.postnaSt}}</td>

                    <td>{{participant.ulica}}</td>

                    <td>{{participant.hisnaSt}}</td>

                    <td>{{participant.stanje}}</td>

                    <td>{{participant.banka}}</td>

                <td>
                  <button (click)="getForm(participant.kupecID);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateParticipantModal">Posodobi</button>

                  <button (click)="setId(participant.kupecID);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteParticipantModal">Zbrisi</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
