<div class="modal fade" id="addKupecModal" tabindex="-1" role="dialog" aria-labelledby="addKupecModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addKupecModalLabel">Dodaj kupca</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">
          
          
          <div class="form-group text-left">
            <label for="ime">Ime</label>
              <input formControlName="ime" type="text" class="form-control">
          </div>

          <div class="form-group text-left">
            <label for="priimek">Priimek</label>
              <input formControlName="priimek" type="text" class="form-control">
          </div>

          <div class="form-group text-left">
            <label for="email">Email</label>
              <input formControlName="email" type="text" class="form-control">
          </div>

          <div class="form-group text-left">
            <label for="kraj">Kraj</label>
              <input formControlName="kraj" type="text" class="form-control">
          </div>

          <div class="form-group text-left">
            <label for="postnaSt">Poštna številka</label>
              <input formControlName="postnaSt" type="number" class="form-control">
          </div>

          <div class="form-group text-left">
            <label for="postnaSt">Ulica</label>
              <input formControlName="ulica" type="text" class="form-control">
          </div>

          <div class="form-group text-left">
            <label for="hisnaSt">Hišna številka</label>
              <input formControlName="hisnaSt" type="text" class="form-control">
          </div>

          <div class="form-group text-left">
            <label for="stanje">Stanje na računu</label>
              <input formControlName="stanje" type="number" class="form-control">
          </div>

          <div class="form-group text-left">
            <label for="banka">Banka</label>
              <input formControlName="banka" type="text" class="form-control">
          </div>

      </div>
        <div class="modal-footer">
          <button (click)="addKupec(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Potrdi</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="updateKupecModal" tabindex="-1" role="dialog" aria-labelledby="updateKupecModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateKupecModalLabel">Posodobi</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">

            <div class="form-group text-left">
              <label for="ime">Ime</label>
                <input [ngModel]="ime"formControlName="ime" type="text" class="form-control">
            </div>
          
            <div class="form-group text-left">
              <label for="priimek">Priimek</label>
                <input [ngModel]="priimek"formControlName="priimek" type="text" class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="kraj">Kraj</label>
                <input [ngModel]="kraj"formControlName="kraj" type="text" class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="postnaSt">Poštna številka</label>
                <input [ngModel]="postnaSt"formControlName="postnaSt" type="number" class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="ulica">Ulica</label>
                <input [ngModel]="ulica"formControlName="ulica" type="text" class="form-control">
            </div>


            <div class="form-group text-left">
              <label for="hisnaSt">Hišna številka</label>
                <input [ngModel]="hisnaSt"formControlName="hisnaSt" type="text" class="form-control">
            </div>
          
            <div class="form-group text-left">
              <label for="banka">Banka</label>
                <input [ngModel]="banka"formControlName="banka" type="text" class="form-control">
           </div>
          
        </div>
        <div class="modal-footer">
          <button (click)="updateKupec(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Posodobi</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteKupecModal" tabindex="-1" role="dialog" aria-labelledby="deleteKupecModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteKupecModalLabel">Izbriši kupca</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteKupec()">
        <div class="modal-body">
          Res zelite izbriši kupca?
        </div>
        <div class="modal-footer">
          <button (click)="deleteKupec()" type="submit" class="btn btn-danger" data-dismiss="modal">Da</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Ne</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        <strong>Napaka:</strong> {{errorMessage}}
    </div>
  <h1 id='assetName'>Kupec</h1>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addKupecModal">Dodajkupca</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">
            
            <th class="info">ime</th>

            <th class="info">priimek</th>

            <th class="info">email</th>

            <th class="info">kraj</th>

            <th class="info">postnaSt</th>

            <th class="info">ulica</th>

            <th class="info">hisnaSt</th>

            <th class="info">stanje</th>

            <th class="info">banka</th>

          <th class="info">možnosti</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let kupec of allKupec">

            <td>{{kupec.ime}}</td>

            <td>{{kupec.priimek}}</td>

            <td>{{kupec.email}}</td>

            <td>{{kupec.kraj}}</td>

            <td>{{kupec.postnaSt}}</td>

            <td>{{kupec.ulica}}</td>

            <td>{{kupec.hisnaSt}}</td>

            <td>{{kupec.stanje}}</td>

            <td>{{kupec.banka}}</td>
                          
            <td>
              <button (click)="getForm(kupec.email);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateKupecModal">Posodobi</button>

              <button (click)="setId(kupec.email);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteKupecModal">Izbriši</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
