<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Plačevanje po povzetju</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class=""><a [routerLink]="['/']">Domov</a></li>
      <!--
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Viri
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          
          <li><a [routerLink]="['/Izdelek']">Izdelek</a></li>
          
          <li><a [routerLink]="['/Narocilo']">Narocilo</a></li>
          
          <li><a [routerLink]="['/Posiljka']">Posiljka</a></li>
          
        </ul> 
      </li> -->
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Kupec
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          
          
        </ul>
      </li>
      
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Trgovec
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          
          
        </ul>
      </li>
      
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pošta
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          
          
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Banka
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          
          
        </ul>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
