<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Plačevanje po povzetju</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class=""><a [routerLink]="['/']">Domov</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Kupec
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['/Kupec']">Nov kupec</a></li>
        </ul>
      </li>
      
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Trgovec
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['/Izdelek']">Nov Izdelek</a></li>
          <li><a [routerLink]="['/Narocilo']">Novo naročilo</a></li>
          <li><a [routerLink]="['/OddajaNarocilaTR']">Oddaja naročila</a></li>
          <li><a [routerLink]="['/Prodajalec']">Dodaj trgovca</a></li>
          
        </ul>
      </li>
      
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pošta
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['/Posiljka']">Nova pošiljka</a></li>
          <li><a [routerLink]="['/Postar']">Nov poštar</a></li>
          <li><a [routerLink]="['/PostnaEnota']">Dodaj poštno enoto</a></li>
          <li><a [routerLink]="['/PlaciloNaDomuTR']">Plačilo na domu</a></li>
          <li><a [routerLink]="['/VraciloPosiljkeTR']">Vračilo pošiljke</a></li>
          <li><a [routerLink]="['/PrihodNaPostnoEnotoTR']">Prihod pošiljke na poštno enoto</a></li>
          <li><a [routerLink]="['/PrevzemNaPostniEnotiTR']">Prevzem pošiljke na poštni enoti</a></li>

        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Banka
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          
          <li><a [routerLink]="['/Banka']">Dodaj banko</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Info
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['/VseTransakcije']">Izvedene transakcije</a></li> 
        </ul>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
