<div class="modal fade" id="addBankaModal" tabindex="-1" role="dialog" aria-labelledby="addBankaModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addBankaModalLabel">Dodaj banko</h4>
        </div>
        <form [formGroup]="myForm">
          <div class="modal-body">
  
                <div class="form-group text-left">
                  <label for="naziv">Naziv banke</label>
                    <input formControlName="naziv" type="text" class="form-control">  
                </div>
                
                <div class="form-group text-left">
                  <label for="kraj">Kraj</label>
                    <input formControlName="kraj" type="text" class="form-control">  
                </div>

                <div class="form-group text-left">
                  <label for="postnaSt">Poštna številka</label>
                    <input formControlName="postnaSt" type="number" class="form-control">  
                </div>

                <div class="form-group text-left">
                  <label for="ulica">Ulica</label>
                    <input formControlName="ulica" type="text" class="form-control">  
                </div>

                <div class="form-group text-left">
                  <label for="hisnaSt">Hišna številka</label>
                    <input formControlName="hisnaSt" type="text" class="form-control">  
                </div>
              
                <div class="form-group text-left">
                  <label for="dovoljenProcent">Dovoljen procent neplačanih</label>
                    <input formControlName="dovoljenProcent" type="number" class="form-control">
                </div>
                
                <div class="form-group text-left">
                  <label for="odobrenZnesekDo">Odobren znesek brez pregleda zgodovine</label>
                    <input formControlName="odobrenZnesekDo" type="number" class="form-control">
                </div>
              
          </div>
          <div class="modal-footer">
            <button (click)="addBanka(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Potrdi</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="updateBankaModal" tabindex="-1" role="dialog" aria-labelledby="updateBankaModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="updateBankaModalLabel">Posodobi</h4>
        </div>
        <form [formGroup]="myForm">
          <div class="modal-body">
            
              <div class="form-group text-left">
                <label for="kraj">Kraj</label>
                  <input [ngModel]="kraj"formControlName="kraj" type="text" class="form-control">
              </div>

              <div class="form-group text-left">
                <label for="postnaSt">Poštna številka</label>
                  <input [ngModel]="postnaSt"formControlName="postnaSt" type="number" class="form-control">
              </div>

              <div class="form-group text-left">
                <label for="ulica">Ulica</label>
                  <input [ngModel]="ulica"formControlName="ulica" type="text" class="form-control">
              </div>

              <div class="form-group text-left">
                <label for="hisnaSt">Hišna številka</label>
                  <input [ngModel]="hisnaSt"formControlName="hisnaSt" type="text" class="form-control">
              </div>
            
              <div class="form-group text-left">
                <label for="dovoljenProcent">Dovoljen procent neplačanih</label>
                  <input [ngModel]="dovoljenProcent"formControlName="dovoljenProcent" type="number" class="form-control">
             </div>

             <div class="form-group text-left">
              <label for="odobrenZnesekDo">Odobren znesek brez pregleda zgodovine</label>
                <input [ngModel]="odobrenZnesekDo"formControlName="odobrenZnesekDo" type="number" class="form-control">
           </div>
            
          </div>
          <div class="modal-footer">
            <button (click)="updateBanka(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Potrdi</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="deleteBankaModal" tabindex="-1" role="dialog" aria-labelledby="deleteBankaModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="deleteBankaModalLabel">Izbriši banko</h4>
        </div>
        <form [formGroup]="myForm" (ngSubmit)="deleteBanka()">
          <div class="modal-body">
            Ali res zelite izbrisati banko?
          </div>
          <div class="modal-footer">
            <button (click)="deleteBanka()" type="submit" class="btn btn-danger" data-dismiss="modal">Da</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Ne</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="container">
      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
          <strong>Napaka:</strong> {{errorMessage}}
      </div>
    <h1 id='assetName'>Banka</h1>
    <div class="row">
      <div class="col-md-12 text-right">
        <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBankaModal">Dodaj banko</button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-responsive table-striped">
          <thead class="thead">
            <tr class="thead-cols">
                  
                  <th class="info">Naziv</th>
              
                  <th class="info">Kraj</th>

                  <th class="info">Poštna številka</th>

                  <th class="info">Ulica</th>

                  <th class="info">Hišna številka</th>
                            
                  <th class="info">Dovoljen procent neplačanih</th>

                  <th class="info">Odobren znesek brez pregleda zgodovine</th>
                            
                <th class="info">Možnosti</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let banka of allBanka">
  
                          
                  <td>{{banka.naziv}}</td>
              
                  <td>{{banka.kraj}}</td>

                  <td>{{banka.postnaSt}}</td>

                  <td>{{banka.ulica}}</td>

                  <td>{{banka.hisnaSt}}</td>
                            
                  <td>{{banka.dovoljenProcent}}</td>

                  <td>{{banka.odobrenZnesekDo}}</td>
                            
              <td>
                <button (click)="getForm(banka.naziv);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateBankaModal">Posodobi</button>
  
                <button (click)="setId(banka.naziv);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteBankaModal">Izbriši</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  