<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Dodaj Naročilo</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">

            
              <div class="form-group text-left">
                <label for="izdelki">izdelki</label>
                
                    <textarea formControlName="izdelki" class="form-control" rows="3"></textarea>
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="kupec">kupec</label>
                
                    <textarea formControlName="kupec" class="form-control" rows="3"></textarea>
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="celotenZnesek">celotenZnesek</label>
                
                  <input formControlName="celotenZnesek" type="number" step='any' class="form-control">
                
              </div>
            
          

            
              <label for="stanjeNarocila">stanjeNarocila</label>
              <div class="checkbox">
                
                  <label>
                    <input
                      
                        formControlName="stanjeNarocila"
                      
                      name="stanjeNarocila"
                      value="NEODLOCENO"
                      type="radio"
                      
                    />
                    NEODLOCENO
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="stanjeNarocila"
                      
                      name="stanjeNarocila"
                      value="ODOBRENO"
                      type="radio"
                      
                    />
                    ODOBRENO
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="stanjeNarocila"
                      
                      name="stanjeNarocila"
                      value="ZAVRNJENO"
                      type="radio"
                      
                    />
                    ZAVRNJENO
                  </label>
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="casUstvarjeno">casUstvarjeno</label>
                
                  <input formControlName="casUstvarjeno" type="text" class="form-control">
                
              </div>
            
          

            
              <label for="lokacijaPrevzema">lokacijaPrevzema</label>
              <div class="checkbox">
                
                  <label>
                    <input
                      
                        formControlName="lokacijaPrevzema"
                      
                      name="lokacijaPrevzema"
                      value="DOSTAVA_NA_DOM"
                      type="radio"
                      
                    />
                    DOSTAVA_NA_DOM
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="lokacijaPrevzema"
                      
                      name="lokacijaPrevzema"
                      value="POSTNA_ENOTA"
                      type="radio"
                      
                    />
                    POSTNA_ENOTA
                  </label>
                
              </div>
            
          

        </div>
        <div class="modal-footer">
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Potrdi</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Posodobi</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">

          
            <div class="form-group text-left">
              <label for="izdelki">izdelki</label>

              
                
                  <textarea [ngModel]="izdelki" formControlName="izdelki" class="form-control" rows="3"></textarea>
                
              

            </div>
          
            <div class="form-group text-left">
              <label for="kupec">kupec</label>

              
                
                  <textarea [ngModel]="kupec" formControlName="kupec" class="form-control" rows="3"></textarea>
                
              

            </div>
          
            <div class="form-group text-left">
              <label for="celotenZnesek">celotenZnesek</label>

              
                <input [ngModel]="celotenZnesek" formControlName="celotenZnesek" type="number" step='any' class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="stanjeNarocila">stanjeNarocila</label>

              
                
                  <div class="row">
                    <div class="col-xs-12 checkbox">
                    
                      <label>
                        <input
                          
                            formControlName="stanjeNarocila"
                            [ngModel]="stanjeNarocila"
                          
                          name="stanjeNarocila"
                          value="NEODLOCENO"
                          type="radio"
                          
                        />
                        NEODLOCENO
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="stanjeNarocila"
                            [ngModel]="stanjeNarocila"
                          
                          name="stanjeNarocila"
                          value="ODOBRENO"
                          type="radio"
                          
                        />
                        ODOBRENO
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="stanjeNarocila"
                            [ngModel]="stanjeNarocila"
                          
                          name="stanjeNarocila"
                          value="ZAVRNJENO"
                          type="radio"
                          
                        />
                        ZAVRNJENO
                      </label>
                    
                    </div>
                  </div>
                
              

            </div>
          
            <div class="form-group text-left">
              <label for="casUstvarjeno">casUstvarjeno</label>

              
                <input [ngModel]="casUstvarjeno"formControlName="casUstvarjeno" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="lokacijaPrevzema">lokacijaPrevzema</label>

              
                
                  <div class="row">
                    <div class="col-xs-12 checkbox">
                    
                      <label>
                        <input
                          
                            formControlName="lokacijaPrevzema"
                            [ngModel]="lokacijaPrevzema"
                          
                          name="lokacijaPrevzema"
                          value="DOSTAVA_NA_DOM"
                          type="radio"
                          
                        />
                        DOSTAVA_NA_DOM
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="lokacijaPrevzema"
                            [ngModel]="lokacijaPrevzema"
                          
                          name="lokacijaPrevzema"
                          value="POSTNA_ENOTA"
                          type="radio"
                          
                        />
                        POSTNA_ENOTA
                      </label>
                    
                    </div>
                  </div>
                
              

            </div>
          


        </div>
        <div class="modal-footer">
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Potrdi</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Zbrisi</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
        <div class="modal-body">
          Res zelite zbrisati?
        </div>
        <div class="modal-footer">
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Da</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Ne</button>
        </div>
      </form>
    </div>
  </div>
</div>











<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h1 id='assetName'>Narocilo</h1>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Dodaj naročilo</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="info">narociloID</th>
            
                <th class="info">izdelki</th>
            
                <th class="info">kupec</th>
            
                <th class="info">celotenZnesek</th>
            
                <th class="info">stanjeNarocila</th>
            
                <th class="info">casUstvarjeno</th>
            
                <th class="info">lokacijaPrevzema</th>
            
              <th class="info">možnosti</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">

            
                <td>{{asset.narociloID}}</td>
            
                <td>{{asset.izdelki}}</td>
            
                <td>{{asset.kupec}}</td>
            
                <td>{{asset.celotenZnesek}}</td>
            
                <td>{{asset.stanjeNarocila}}</td>
            
                <td>{{asset.casUstvarjeno}}</td>
            
                <td>{{asset.lokacijaPrevzema}}</td>
            
            <td>
              <button (click)="getForm(asset.narociloID);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAssetModal">Posodobi</button>

              <button (click)="setId(asset.narociloID);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAssetModal">Zbrisi</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
