<div class="modal fade" id="addPostarModal" tabindex="-1" role="dialog" aria-labelledby="addPostarModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addPostarModalLabel">Dodaj poštarja</h4>
        </div>
        <form [formGroup]="myForm">
          <div class="modal-body">
  
                <div class="form-group text-left">
                  <label for="ime">Ime</label>
                    <input formControlName="ime" type="text" class="form-control">  
                </div>
                
                <div class="form-group text-left">
                  <label for="priimek">Priimek</label>
                    <input formControlName="priimek" type="text" class="form-control">  
                </div>

              
              
          </div>
          <div class="modal-footer">
            <button (click)="addPostar(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Potrdi</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="updatePostarModal" tabindex="-1" role="dialog" aria-labelledby="updatePostarModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="updatePostarModalLabel">Posodobi poštarja</h4>
        </div>
        <form [formGroup]="myForm">
          <div class="modal-body">
  
              <div class="form-group text-left">
                <label for="ime">Ime</label>
                  <input [ngModel]="ime"formControlName="ime" type="text" class="form-control">
              </div>
            
              <div class="form-group text-left">
                <label for="priimek">Priimek</label>
                  <input [ngModel]="priimek"formControlName="priimek" type="text" class="form-control">
              </div>
            
          </div>
          <div class="modal-footer">
            <button (click)="updatePostar(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Posodobi</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="deletePostarModal" tabindex="-1" role="dialog" aria-labelledby="deletePostarModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="deletePostarModalLabel">Izbriši</h4>
        </div>
        <form [formGroup]="myForm" (ngSubmit)="deletePostar()">
          <div class="modal-body">
            Res zelite izbrisati poštarja?
          </div>
          <div class="modal-footer">
            <button (click)="deletePostar()" type="submit" class="btn btn-danger" data-dismiss="modal">Da</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Ne</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="container">
      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
          <strong>Error:</strong> {{errorMessage}}
      </div>
    <h1 id='assetName'>Poštar</h1>
    <div class="row">
      <div class="col-md-12 text-right">
        <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPostarModal">Dodaj poštarja</button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-responsive table-striped">
          <thead class="thead">
            <tr class="thead-cols">
              
                  <th class="info">postarID</th>
    
                  <th class="info">Ime</th>

                  <th class="info">Priimek</th>
                            
                <th class="info">Možnosti</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let postar of allPostar">
  
              
                  <td>{{postar.postarID}}</td>
              
                  <td>{{postar.ime}}</td>
              
                  <td>{{postar.priimek}}</td>
                            
              <td>
                <button (click)="getForm(postar.postarID);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updatePostarModal">Posodobi</button>
  
                <button (click)="setId(postar.postarID);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletePostarModal">Izbrisi</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  