<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Dodaj posiljko</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">

            
              <div class="form-group text-left">
                <label for="narocilo">narocilo</label>
                
                    <textarea formControlName="narocilo" class="form-control" rows="3"></textarea>
                
              </div>
            
          

            
              
          

            
              <label for="stanjePosiljke">stanjePosiljke</label>
              <div class="checkbox">
                
                  <label>
                    <input
                      
                        formControlName="stanjePosiljke"
                      
                      name="stanjePosiljke"
                      value="POTEKA"
                      type="radio"
                      
                    />
                    POTEKA
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="stanjePosiljke"
                      
                      name="stanjePosiljke"
                      value="NEPLACANO"
                      type="radio"
                      
                    />
                    NEPLACANO
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="stanjePosiljke"
                      
                      name="stanjePosiljke"
                      value="PLACANO"
                      type="radio"
                      
                    />
                    PLACANO
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="stanjePosiljke"
                      
                      name="stanjePosiljke"
                      value="ZAVRNJENO"
                      type="radio"
                      
                    />
                    ZAVRNJENO
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="stanjePosiljke"
                      
                      name="stanjePosiljke"
                      value="NA_POSTNI_ENOTI"
                      type="radio"
                      
                    />
                    NA_POSTNI_ENOTI
                  </label>
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="zadnjaSprememba">zadnjaSprememba</label>
                
                  <input formControlName="zadnjaSprememba" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="postnaEnota">postnaEnota</label>
                
                    <textarea formControlName="postnaEnota" class="form-control" rows="3"></textarea>
                
              </div>
            
          

        </div>
        <div class="modal-footer">
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Potrdi</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Update Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">

          
            <div class="form-group text-left">
              <label for="narocilo">narocilo</label>

              
                
                  <textarea [ngModel]="narocilo" formControlName="narocilo" class="form-control" rows="3"></textarea>
                
              

            </div>
          
          
          
            <div class="form-group text-left">
              <label for="stanjePosiljke">stanjePosiljke</label>

              
                
                  <div class="row">
                    <div class="col-xs-12 checkbox">
                    
                      <label>
                        <input
                          
                            formControlName="stanjePosiljke"
                            [ngModel]="stanjePosiljke"
                          
                          name="stanjePosiljke"
                          value="POTEKA"
                          type="radio"
                          
                        />
                        POTEKA
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="stanjePosiljke"
                            [ngModel]="stanjePosiljke"
                          
                          name="stanjePosiljke"
                          value="NEPLACANO"
                          type="radio"
                          
                        />
                        NEPLACANO
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="stanjePosiljke"
                            [ngModel]="stanjePosiljke"
                          
                          name="stanjePosiljke"
                          value="PLACANO"
                          type="radio"
                          
                        />
                        PLACANO
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="stanjePosiljke"
                            [ngModel]="stanjePosiljke"
                          
                          name="stanjePosiljke"
                          value="ZAVRNJENO"
                          type="radio"
                          
                        />
                        ZAVRNJENO
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="stanjePosiljke"
                            [ngModel]="stanjePosiljke"
                          
                          name="stanjePosiljke"
                          value="NA_POSTNI_ENOTI"
                          type="radio"
                          
                        />
                        NA_POSTNI_ENOTI
                      </label>
                    
                    </div>
                  </div>
                
              

            </div>
          
            <div class="form-group text-left">
              <label for="zadnjaSprememba">zadnjaSprememba</label>

              
                <input [ngModel]="zadnjaSprememba"formControlName="zadnjaSprememba" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="postnaEnota">postnaEnota</label>

              
                
                  <textarea [ngModel]="postnaEnota" formControlName="postnaEnota" class="form-control" rows="3"></textarea>
                
              

            </div>
          


        </div>
        <div class="modal-footer">
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Zbrisi</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
        <div class="modal-body">
          Res zelite zbrisati?
        </div>
        <div class="modal-footer">
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Da</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Ne</button>
        </div>
      </form>
    </div>
  </div>
</div>











<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h1 id='assetName'>Posiljka</h1>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Dodaj</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="info">posiljkaID</th>
            
                <th class="info">narocilo</th>
            
            
                <th class="info">stanjePosiljke</th>
            
                <th class="info">zadnjaSprememba</th>
            
                <th class="info">postnaEnota</th>
            
              <th class="info">možnosti</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">

            
                <td>{{asset.posiljkaID}}</td>
            
                <td>{{asset.narocilo}}</td>
            
            
                <td>{{asset.stanjePosiljke}}</td>
            
                <td>{{asset.zadnjaSprememba}}</td>
            
                <td>{{asset.postnaEnota}}</td>
            
            <td>
              <button (click)="getForm(asset.posiljkaID);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAssetModal">Posodobi</button>

              <button (click)="setId(asset.posiljkaID);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAssetModal">Zbrisi</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
