

<div class="container">

  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>

  <div class="row">
      <h1>Oddaja naročila </h1>
  </div>

  <div class="row">
    <br>
  </div>

  <div class="row RR">
    <div *ngIf="transactionFrom" class="col-md-offset-3 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"> <strong>Vnesite podrobnosti</strong>
        </div>
        <div class="panel-body">
          <form [formGroup]="myForm">

            <p>Naročilo:
              <select name="narocila" formControlName="formNarociloID">
                <option *ngFor="let narocilo of allNarocila" value="{{narocilo.narociloID}}">{{narocilo.narociloID}}</option>
              </select>
            </p>

            <p>Poštna enota:
              <select name="postneenote" formControlName="formPostnaEnotaID" >
                <option *ngFor="let postnaenota of allPostnaEnota" value="{{postnaenota.naziv}}">{{postnaenota.naziv}}</option>
              </select>
            </p>
            </form>
        </div>
      </div>
    </div>

    <div *ngIf="!transactionFrom" class="col-md-offset-3 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Izvedene transakcije</strong></div>
        <div class="panel-body">
          <form [formGroup]="myForm">
            <p>ID transakcije: {{transactionID}}</p>
          </form>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div *ngIf="transactionFrom" class="col-md-offset-4 col-md-4">
    <button (click)="execute(form);" type="button" class="btn btn-success" data-toggle="modal" >Izvedi transakcijo</button>

    </div>
  </div>

  <div class="row">
    <br>
    <br>
  </div>


</div>
