<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Dodaj izdelek</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">





              <div class="form-group text-left">
                <label for="izdelekID">izdelekID</label>

                  <input formControlName="izdelekID" type="text" class="form-control">

              </div>




              <div class="form-group text-left">
                <label for="naziv">naziv</label>

                  <input formControlName="naziv" type="text" class="form-control">

              </div>




              <div class="form-group text-left">
                <label for="kolicina">kolicina</label>

                  <input formControlName="kolicina" type="number" class="form-control">

              </div>




              <div class="form-group text-left">
                <label for="cena">cena</label>

                  <input formControlName="cena" type="number" step='any' class="form-control">

              </div>




              <div class="form-group text-left">
                <label for="prodajalec">prodajalec</label>

                    <textarea formControlName="prodajalec" class="form-control" rows="3"></textarea>

              </div>



        </div>
        <div class="modal-footer">
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Potrdi</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Zapri</button>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Posodobi</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">



            <div class="form-group text-left">
              <label for="izdelekID">izdelekID</label>


                <input [ngModel]="izdelekID"formControlName="izdelekID" type="text" class="form-control">


            </div>

            <div class="form-group text-left">
              <label for="naziv">naziv</label>


                <input [ngModel]="naziv"formControlName="naziv" type="text" class="form-control">


            </div>

            <div class="form-group text-left">
              <label for="kolicina">kolicina</label>


                <input [ngModel]="kolicina" formControlName="kolicina" type="number" class="form-control">


            </div>

            <div class="form-group text-left">
              <label for="cena">cena</label>


                <input [ngModel]="cena" formControlName="cena" type="number" step='any' class="form-control">


            </div>

            <div class="form-group text-left">
              <label for="prodajalec">prodajalec</label>



                  <textarea [ngModel]="prodajalec" formControlName="prodajalec" class="form-control" rows="3"></textarea>



            </div>



        </div>
        <div class="modal-footer">
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Zbrisi vir</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
        <div class="modal-body">
          Res zelite zbrisati izdelek?
        </div>
        <div class="modal-footer">
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Da</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Ne</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h1 id='assetName'>Izdelek</h1>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Dodaj izdelek</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">

                <th class="info">izdelekID</th>

                <th class="info">naziv</th>

                <th class="info">cena</th>

                <th class="info">prodajalec</th>

              <th class="info">možnosti</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">


                <td>{{asset.izdelekID}}</td>

                <td>{{asset.naziv}}</td>

                <td>{{asset.cena}}</td>

                <td>{{asset.prodajalec}}</td>

            <td>
              <button (click)="getForm(asset.izdelekID);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAssetModal">Posodobi</button>

              <button (click)="setId(asset.izdelekID);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAssetModal">Zbrisi</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
